@font-face {
  font-family: 'Comforta';
  src: url('fonts/static/Comfortaa-Bold.ttf') format('truetype'),
    url('fonts/static/Comfortaa-Regular.ttf') format('truetype'),
    url('fonts/static/Comfortaa-SemiBold.ttf') format('truetype'),
    url('fonts/static/Comfortaa-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('fon.png');
  background-size: 1520px 2500px;
  background-attachment: scroll;

}


header {

  padding: 10px 20px;
  position: relative;
}

nav {
  display: flex;

  align-items: center;
}

.logo img {
  height: 60px;

}

.nav-menu {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  margin-left: 90px;
  flex-grow: 1;

}

.nav-menu li {
  margin: 0 40px;
}

.nav-menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-family: 'Comforta', Arial, sans-serif;
  margin-right: 20px;
}

.nav-icons {
  display: flex;
  align-items: center;
  margin-left: 80px;


}

.nav-icons a {
  margin-left: 10px;

}

.nav-icons img {
  height: 30px;
  padding: 18px;
}


.left-anchor {
  position: fixed;
  left: 8px;
  bottom: 550px;
  padding: 8px 16px;
  display: block;
}

.left-anchor2 {
  position: fixed;
  left: 5px;
  bottom: 480px;
  padding: 8px 16px;
  display: block;
}

.teacher-cards {
  padding: 20px 10px 10px 110px;
  display: block;
  justify-content: space-between;
  flex-wrap: wrap;
}

.name {
  font-family: 'Comforta', Arial, sans-serif;
  text-align: center;
  font-size: 40px;
  margin-bottom: -20px;
}

.card {
  width: 95%;
  background: linear-gradient(70deg, #C195BA, #A13A91);
  border-radius: 10px;
  padding: 40px;
  box-sizing: border-box;
  margin-bottom: 90px;
  display: flex;

}

.teacher-name {
  font-size: 44px;
  font-family: 'Comforta', Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: left;
  text-shadow: 1px 2px 7px #ec33c455;

}

.card-content {
  display: inline;
  flex-direction: column;
  align-items: center;
}

.teacher-description {
  font-family: 'Comforta', Arial, sans-serif;
  width: 650px;
  padding-left: 50px;
  font-size: 38px;
  text-align: left;
  margin-bottom: 10px;
}

.image-container {
  width: 400px;
  height: 400px;
  margin-left: 70px;
}

.image-container img {
  width: 100%;
  height: 100%;

}

.tariff-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 50px;
  font-family: 'Comforta', Arial, sans-serif;
}

.tariff-name {
  padding-top: 60px;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: left;


}

p1 {
  font-size: 22px;
  margin-left: 50px;
  margin-top: 13px;
  font-family: 'Comforta', Arial, sans-serif;
}

.details-btn {
  background: linear-gradient(70deg, #C195BA, #ab66a1);
  border: 4px solid #000000;
  margin-top: 40px;
  margin-left: 50px;
  padding: 20px;
  border-radius: 10px;
  display: inline-flex;
}

.details-btn:hover {
  background: linear-gradient(70deg, #a77da0, #8f5988);

}

.stl {
  width: 90px;
  height: 50px;

  margin-left: 10px;
  margin-right: 50px;
}

footer {

  margin-left: -50px;
  padding: 40px 40px;

}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 2000px;

}

.footer-column {
  flex-basis: 20%;
  padding: 0 50px;
  box-sizing: border-box;

}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Comforta', Arial, sans-serif;
}

.footer-column p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 5px;
  font-family: 'Comforta', Arial, sans-serif;
}

.social-icons {
  margin-top: 17px;
  margin-bottom: 10px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
}

.social-icons img {
  height: 38px;
  margin-top: -10px;
}

.logof img {
  height: 140px;
  margin-top: -10px;
  margin-left: -36px;
}